{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting</title>
    <link rel="stylesheet" href="{% static 'styles/meeting.css' %}?2021129" />
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}?20181209" />
    <script async>
        function hover(element) {
            element.setAttribute('src', "{% static './icons/recycle-bin_open.png' %}");
        }

        function unhover(element) {
            element.setAttribute('src', "{% static './icons/recycle-bin_closed.png' %}");
        }
    </script>
</head>

<body>
    <section>

        <div class="create_container">
            <form method="POST">
                {% csrf_token %} \ {{ form.person }} {{ form.phone_number }} {{ form.date_of_meeting }}
                <button class="create_button" type="submit">Add</button>
            </form>
        </div>

        <div class="todo_container">
            {% for meeting in tomeet_list %}
            <div class="todo_item {% if meeting.is_closed %} done {% elif meeting.is_favorite %} marked {% endif %}">

                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"
                            {% if meeting.is_closed %}
                                checked
                            {% endif %}
                        >
                        <span class="checkmark"></span>
                    </label>
                    <h4><a href="{% url 'close-meeting' meeting.id %}">{{ meeting.person }}</a></h4><br>
                </div>
                <div class="todo_item_filler">
                    {{ meeting.phone_number }}
                </div>
                <div class="todo_item_footer">
                    <p>{{ meeting.date_of_meeting }}</p>
                    <div class="action_buttons">
                        {% if meeting.is_favorite %}
                        <a href="{% url 'unmark-meeting' meeting.id %}"><img src="{% static './icons/star_yellow.png' %}"></a>
                        {% else %}
                        <a href="{% url 'mark-meeting' meeting.id %}"><img src="{% static './icons/star_white.png' %}"></a>
                        {% endif %}
                        <a href="{% url 'delete-meeting' meeting.id %}"><img src="{% static './icons/recycle-bin_closed.png' %}" class="icon" onmouseover="hover(this);" onmouseout="unhover(this);"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>