{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <!-- <link rel="stylesheet" href="{% static 'styles/test.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'styles/index.css' %}?20181209" />
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}?20181209" />

</head>

<body>
    <!-- <h2>This is a test site</h2>
    {% for todo in todo_list %}
    <h3>{{ todo.text }} - {{ todo.created_at }}</h3>
    {% endfor %} -->

    <section>

        <div class="create_container">
            <input class="create_input" type="text" placeholder="New task" />
            <button class="create_button">Add</button>
        </div>

        <div class="todo_container">

            {% for todo in todo_list %}
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>{{ todo.text }}</h4>
                </div>
                <div class="todo_item_footer">
                    <p>{{ todo.created_at }}</p>
                    <div class="action_buttons">

                        <img src="./icons/star_white.png">
                        <img src="././icons/recycle-bin_closed.png" class="icon" onmouseover="hover(this);" onmouseout="unhover(this);">
                        <!-- <img src="icons/recycle-bin_open.png" style="visibility:hidden"> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>